@media screen and (max-width: 540px) {
  #herosection {
    margin: 200px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
  }

  #herosection_title {
    font-size: 32px;

  }

  #herosection_name {
    font-size: 32px;
  }

  #herosection_job {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 550px) {

  #herosection {
    margin: 350px 30px 0px 0px;
    padding: 0px 0px 0px 120px;

  }

  #herosection_title {
    font-size: 32px;
  
}

#herosection_name {
  font-size: 32px;
}

#herosection_job {
  font-size: 32px;
}
}
