#fotoku {
  width: 58%;
  padding: 50px
}

@media screen and (max-width: 540px) {


  #fotoku {
    margin-left: 275px;
    padding: 15px;
    width:250px
  }

  #imageComp {
    margin-top: 5px;
  }

  #contact {
    margin-left: 270px;
    margin-top: 10px;
    
  }
}

@media screen and (max-width: 1000px) and (min-width: 550px) {
  #fotoku {
    margin-left: 220px;
    padding: 15px;
    width:350px;
  }

  #imageComp {
    margin-top: 5px;
  }

  #contact {
    margin-left: 215px;
    margin-top: 10px;
    
  }
 
  
}

