body {
    /* background-color: rgb(245, 206, 99); */
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(239, 239, 239, 0.863); */
    background-image: linear-gradient(to right,  rgb(255, 255, 255), rgba(216, 216, 216, 0.911), rgb(204, 204, 204));

}
