@media screen and (max-width: 540px) {
    #home {
        display: grid;
        grid-template-columns: 550px 220px;
        
    }
}

@media screen and (max-width: 1000px) and (min-width: 550px) {
    #home {
        display: grid;
        
        
    }
    
}